

/* body {
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
          align-items: center;
  -webkit-box-pack: center;
          justify-content: center;} */
  


svg {
  z-index: 10;
  height: 100vh;
  width: 100%;
  max-width: 800px;
  visibility: hidden;
}

#pBtn {
  cursor: pointer;
}

#tuningBtnFront, #volumeBtnFront, #antenna {
  cursor: -webkit-grab;
  cursor: grab;
}

#textGroup {
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.gsap-3-logo {
  width: 20vw;
  max-width: 150px;
  position: fixed;
  bottom: 15px;
  right: 15px;
}