@import url(https://fonts.googleapis.com/css?family=Anonymous+Pro);

html {
  height: 100%;
  overflow: hidden;
}

body {
  background-color: rgb(25,25,25); 
  color: rgba(255,255,255,.75);
  font-family: 'Anonymous Pro', monospace; 
  height: 700px;
  padding-top: 10px;
  padding-right: 2px;
  padding-left: 2px ;
  
}

.content {
    display: block;
    font-family: 'Anonymous Pro', sans-serif;
    height: auto;
    position: relative;
    text-align: center;
    top:2px;
    width: 100%
}


.typewrite {
  font-size: 180%;
  border-right: 2px solid rgba(255,255,255,.75);
  line-height: 1.15;
}

.anim-typewrite {
  animation: blinkTextCursor 500ms infinite normal;
}

@keyframes blinkTextCursor{
  from{border-right-color: rgba(255,255,255,.75);}
  to{border-right-color: transparent;}
}
