.section--breaker {
  position: relative;
  overflow: hidden; }
  .section--breaker.breaker-one {
    background-color: #222; }
    .section--breaker.breaker-one .be-bold-container {
      position: absolute;
      top: calc(50% - 7.0246424vw);
      left: 18vw; }
    .section--breaker.breaker-one .style-element--inner {
      position: relative;
      width: 100%; }
      .section--breaker.breaker-one .style-element--inner img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%; }
    .section--breaker.breaker-one .be-bold-be {
      width: 15.735199vw;
      float: left;
      margin-right: 4vw; }
      .section--breaker.breaker-one .be-bold-be .style-element--inner {
        padding-top: 89.2857%; }
    .section--breaker.breaker-one .be-bold-style-container {
      float: left; }
    .section--breaker.breaker-one .style-element {
      transform-origin: 20% 50%;
      transform: scale(0.9);
      width: 50vw;
      opacity: 0.04; }
      .section--breaker.breaker-one .style-element.be-bold-light {
        transform: scale(1);
        opacity: 0.1; }
      .section--breaker.breaker-one .style-element .style-element--inner {
        padding-top: 28.09857%; }
  .section--breaker.breaker-two {
    font-size: calc(70px + 280 * ((100vw - 600px) / 1400));
    line-height: calc(75px + 285 * ((100vw - 600px) / 1400));
    letter-spacing: calc(-2px + -5 * ((100vw - 600px) / 1400));
    font-family: "Maison Neue Bold";
    perspective: calc(450px + 7050 * ((100vw - 600px) / 9400));
    position: relative; }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-two {
        font-size: 70px; } }
    @media screen and (min-width: 2000px) {
      .section--breaker.breaker-two {
        font-size: 350px; } }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-two {
        line-height: 75px; } }
    @media screen and (min-width: 2000px) {
      .section--breaker.breaker-two {
        line-height: 360px; } }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-two {
        letter-spacing: -2px; } }
    @media screen and (min-width: 2000px) {
      .section--breaker.breaker-two {
        letter-spacing: -7px; } }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-two {
        perspective: 450px; } }
    @media screen and (min-width: 10000px) {
      .section--breaker.breaker-two {
        perspective: 7500px; } }
    @media (max-width: 1024px) {
      .section--breaker.breaker-two {
        perspective: 600px; } }
    @media (max-width: 600px) {
      .section--breaker.breaker-two {
        perspective: 300px; } }
    .section--breaker.breaker-two .text-element {
      position: absolute;
      top: 0;
      height: 100vh;
      width: 50vw;
      overflow: hidden; }
      .section--breaker.breaker-two .text-element .text-element--inner {
        transform: translateY(-50%);
        position: absolute;
        top: 50%;
        width: 200%;
        text-align: center; }
        @media (max-width: 600px) {
          .section--breaker.breaker-two .text-element .text-element--inner {
            width: 100%; } }
      @media (max-width: 600px) {
        .section--breaker.breaker-two .text-element.left .text-element--inner {
          transform: translate(50%, -50%); } }
      @media (max-width: 600px) {
        .section--breaker.breaker-two .text-element.right .text-element--inner {
          transform: translate(-50%, -50%); } }
      .section--breaker.breaker-two .text-element.one, .section--breaker.breaker-two .text-element.three, .section--breaker.breaker-two .text-element.five, .section--breaker.breaker-two .text-element.seven {
        transform-origin: right;
        left: 0; }
        .section--breaker.breaker-two .text-element.one .text-element--inner, .section--breaker.breaker-two .text-element.three .text-element--inner, .section--breaker.breaker-two .text-element.five .text-element--inner, .section--breaker.breaker-two .text-element.seven .text-element--inner {
          left: 0; }
      .section--breaker.breaker-two .text-element.two, .section--breaker.breaker-two .text-element.four, .section--breaker.breaker-two .text-element.six, .section--breaker.breaker-two .text-element.eight {
        transform-origin: left;
        right: 0; }
        .section--breaker.breaker-two .text-element.two .text-element--inner, .section--breaker.breaker-two .text-element.four .text-element--inner, .section--breaker.breaker-two .text-element.six .text-element--inner, .section--breaker.breaker-two .text-element.eight .text-element--inner {
          right: 0; }
      .section--breaker.breaker-two .text-element.one, .section--breaker.breaker-two .text-element.eight {
        background-color: #222; }
      .section--breaker.breaker-two .text-element.two, .section--breaker.breaker-two .text-element.seven {
        background-color: #CACACA; }
      .section--breaker.breaker-two .text-element.three {
        background-color: #7c7b7d; }
      .section--breaker.breaker-two .text-element.four {
        background-color: #AFAFAF; }
      .section--breaker.breaker-two .text-element.five {
        background-color: #f1f0f2; }
      .section--breaker.breaker-two .text-element.three, .section--breaker.breaker-two .text-element.five, .section--breaker.breaker-two .text-element.seven {
        transform: rotateY(90deg);
        opacity: 0; }
      .section--breaker.breaker-two .text-element.six {
        background-color: #CACACA; }
  .section--breaker.breaker-three {
    position: relative; }
    .section--breaker.breaker-three .text-container {
      position: absolute;
      top: 0;
      height: 100%;
      overflow: hidden; }
    .section--breaker.breaker-three .section-header img {
      width: 80%;
      margin: 0 auto; }
      @media (max-width: 1024px) {
        .section--breaker.breaker-three .section-header img {
          width: 90%; } }
    .section--breaker.breaker-three .text-japanese-container {
      z-index: 1;
      left: 0;
      width: 100%;
      background-color: #222;
      color: #fff; }
      .section--breaker.breaker-three .text-japanese-container .text-japanese {
        transform: translateY(-50%);
        position: absolute;
        width: 100vw;
        top: 50%;
        left: 0;
        text-align: center; }
    .section--breaker.breaker-three .text-roman-container {
      z-index: 2;
      right: 0;
      width: 0%;
      background-color: #fff;
      color: #222; }
      .section--breaker.breaker-three .text-roman-container .text-roman {
        transform: translateY(-50%);
        position: absolute;
        width: 100vw;
        top: 50%;
        right: 0;
        text-align: center; }
  .section--breaker.breaker-four {
    font-family: "Maison Neue Bold";
    font-size: calc(70px + 230 * ((100vw - 600px) / 1400));
    letter-spacing: calc(-2px + -5 * ((100vw - 600px) / 800));
    line-height: 0.6em;
    color: #222;
    margin-top: -50vh;
    background-color: #fff; }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-four {
        font-size: 70px; } }
    @media screen and (min-width: 2000px) {
      .section--breaker.breaker-four {
        font-size: 300px; } }
    @media screen and (max-width: 600px) {
      .section--breaker.breaker-four {
        letter-spacing: -2px; } }
    @media screen and (min-width: 1400px) {
      .section--breaker.breaker-four {
        letter-spacing: -7px; } }
    .section--breaker.breaker-four .wrapper {
      padding-top: 0px; }
    .section--breaker.breaker-four .text-container {
      width: 200%;
      margin-left: -10%; }
    .section--breaker.breaker-four .text-container--inner {
      position: relative;
      float: left;
      margin-top: calc(200px + 250 * ((100vw - 600px) / 1400)); }
      @media screen and (max-width: 600px) {
        .section--breaker.breaker-four .text-container--inner {
          margin-top: 200px; } }
      @media screen and (min-width: 2000px) {
        .section--breaker.breaker-four .text-container--inner {
          margin-top: 450px; } }
    .section--breaker.breaker-four .word-element {
      float: left; }
      .section--breaker.breaker-four .word-element.new-sizer, .section--breaker.breaker-four .word-element.new {
        -webkit-writing-mode: vertical-rl;
            -ms-writing-mode: tb-rl;
                writing-mode: vertical-rl; }
      .section--breaker.breaker-four .word-element.new {
        transform: translateY(10%);
        position: absolute;
        bottom: 0;
        right: 37%;
        opacity: 0; }
      .section--breaker.breaker-four .word-element.paths {
        position: absolute;
        right: 0;
        bottom: 0; }
      .section--breaker.breaker-four .word-element.paths-sizer {
        opacity: 0;
        float: none; }
    .section--breaker.breaker-four .letter-element {
      transform: translateY(60%);
      float: left;
      opacity: 0; }
    .section--breaker.breaker-four .sizer-element {
      opacity: 0; }

/*# sourceMappingURL=../_maps/components/section-breaker.css.map */
