
.section2 {
    overflow: hidden;
    background: #25d3ff;
}
.p3 {
    font-size: 15px;
    line-height: 10px;
    background:  url(https://media.giphy.com/media/l0MYB8Ory7Hqefo9a/giphy.gif) no-repeat;//
/*   Artwork by Xaviera López  https://media.giphy.com/media/l0NwOOdhMtk94jfYQ/giphy.gif*/
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    -webkit-background-clip: text;
    -webkit-text-fill-color: rgba(255, 255, 255, 0) ;
    font-weight: 900;
    margin: 0;
    mix-blend-mode: darken;
}